.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;border:none;float: right;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
.tg .tg-uodq{font-size:22px;font-family:Impact, Charcoal, sans-serif !important;;vertical-align:top}
.tg .tg-bvsb{font-size:22px;font-family:"Lucida Console", Monaco, monospace !important;;text-align:center;vertical-align:top}
.tg .tg-uikh{font-size:22px;font-family:"Arial Black", Gadget, sans-serif !important;;vertical-align:top}
.tg .tg-hdzn{font-size:22px;font-family:"Lucida Console", Monaco, monospace !important;;vertical-align:top}
